<div class="ajea-container">
  <h1> Questions </h1>
  <ul>
    <% @questions.each do |question| %>

      <form method="post" action="/questions/<%= question.id %>/voteUp" class="inline ajea vote-button-upvote">
        <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button>
      </form>

      <li><%= question.vote_value %><a href='questions/<%= question.id %>'> <%= question.title %></a></li>

      <form method="post" action='/questions/<%= question.id %>/voteDown' class="inline ajea vote-button-downvote">
        <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button downvote-button"></button>
      </form>

     <li><%= question.vote_value %><a href='questions/<%= question.id %>'> <%= question.title %></a></li>
     <li>Author: <%= question.user.username %></li>
     <br>

     <% end %>
   </ul>
 </div>
