<article class="question-container" id="<%= @question.id %>">
  <h3><%= @question.title %></h3>
  <h4>Votes: <%= @question.vote_value %></h4>
  <p> Author: <%= @question.user.username %> </p>
<p><%= @question.body %></p>

<% if current_user.username == @question.user.username %>
  <form method="post" action="/questions/<%= @question.id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
  <a href="/questions/<%= @question.id %>/edit">Edit</a>
  </article>
<% end %>


<% if current_user %>
<article class="answers container">
  <%= erb :'/answers/new' %>
</article>
<% end %>

<div class="ajea">
  <h4> Answers </h4>
   <ul>
  <% @answers.each do |answer| %>
    <li>
   <article id="<%= answer.id %>">Votes: <%= answer.vote_value %> <br> <%= answer.body %> </article>
    <ul>
      <p> Comments </p>
      <% answer.comments.each do |comment| %>
    <article id="<%= comment.id %>"><%= comment.body %> </article>
    <% end %>
  </ul>
  <a href= "/questions/<%= @question.id %>/comments/new">New comment</a>
 </li>
<% end %>

</ul>
</div>


<article class="answers container">
  <%= erb :'/answers/new' %>
  <!--  -->
</article>
